{% extends "layout-email.html" %}
{% extends "layout.html" %}

{% block page_title %}
  Setup
{% endblock %}

{% block content %}

<main id="content" role="main">

<p>Dear xxx,</p>

<p>We’re pleased to let you know we’ve launched our new online service for recording apprentice end-point assessment grades and requesting certificates. We invite you to register now and use the new service the next time you’re recording grades and requesting a certificate.</p>

<p>Please follow the steps below to get started.</p>

<h2 class="heading-medium">Step 1 - Request access to the ESFA’s Information Management Services (IDAMS) system</h2>

<p>The Information Management Services system is a secure way of accessing ESFA digital services, including Record Apprentice End-Point Assessment Grades.</p>

<p>The first person that sets up an account will automatically be assigned as the ‘super user’. That means they have admin rights and can give access to other members of their organisation once they've set up their account. You can change the superuser whenever you need to.</p>

<p>Request access to the Information Management Services system.</p>

<p>When prompted, enter your organisation’s unique UKPRN: xxxxxxxxx</p>

<h2 class="heading-medium">Step 2 - Request the end-point assessment organisations (EPAO) role permissions</h2>

<p>Once your access is approved, sign in to your account.</p>

<p>On the next screen, click ‘My identity’</p>

<p>Select ‘Add a new permission’ link</p>

<p>Add ‘End Point Assessment’, which is on the second page</p>

<h2 class="heading-medium">Step 3 - Record apprentice end-point assessment grades</h2>

<p><a href="#">Access the new Record apprentice end-point assessment grades service.</a></p>

<p>Sign in with your email address and password you created in step 1.</p>

<h2 class="heading-medium">Get in touch</h2>

<p>You can reach us on:</p>

<ul class="list list-bullet">
  <li>08000 150 600 for questions about the certification service</li>
  <li>0370 267 0001 for queries about the Information Management Services (IDAMS) system</li>
</ul>

<p>[sign off]</p>

</main>

{% endblock %}
