{% extends "layout-email.html" %}
{% extends "layout.html" %}

{% block page_title %}
  Setup
{% endblock %}

{% block content %}

<main id="content" role="main">

  <p>Dear xxx,</p>

  <p>We wanted to let you know that in June we will be launching a new digital service to make it easier for you to record apprentice end-point assessment grades and request certificates.</p>

  <p>The new service:</p>

  <ul class="list list-bullet">
    <li>can be accessed online at any time, so you can request certificates at a time that suits you</li>
    <li>is more streamlined, with less fields for you to complete</li>
    <li>pre-populates data, so you don’t have to</li>
    <li>removes the manual validation of data between EPAOs and training providers and the potential for data duplication</li>
    <li>shortens the time between requesting and receiving a certificate, to just 15 days</li>
  </ul>

  <p>With more developments in the pipeline we hope this new digital service will give you an even better experience with the Apprenticeship Service.</p>

  <p class="bold">Next steps</p>

  <p>Before the new service launches, we recommend you choose your company’s ‘super user’. This user will have admin rights to add and remove other users in your company from the service. The person that first sets up an account will automatically be the super user.</p>

  <p>We will let you know when the service launches in a few weeks.</p>

  <p>[sign off]</p>

</main>

{% endblock %}
