{% extends "layout.html" %}

{% block page_title %}
  EPAO certification information
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <h2 class="heading-medium">Before you start</h2>
      <ul class="list list-bullet">
        <li>you can only apply for a certificate once an apprentice has successfully completed their end-point assessment</li>
        <li>apprentices must have given you permission to process their certificate</li>
      </ul>

      <p>You need to have an account with the government’s <a href="#">Information Management Services</a> system to use this.</p>

      <p>
        <a class="button button-start" href="/{{version}}/sign-in" role="button">Start now</a>
      </p>


    </div>
    <div class="column-third">



    </div>
  </div>

</main>

{% endblock %}
