{% extends "layout.html" %}

{% block page_title %}
  Declaration page
{% endblock %}

{% block content %}

{% include version + '/includes/_global_nav.html' %}

<main id="content" role="main">
  {% include version + '/includes/phase_banner_beta.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/{{version}}/check-amend" class="link-back">Back</a>


      <h1 class="heading-medium">
        Declaration
      </h1>

      <p>By applying for this apprenticeship certificate, you are confirming that:</p>

    <ul class="list list-bullet">
      <li>the apprentice has given permission for you to apply for a certificate on their behalf</li>
      <li>the assessment was independent of both the training provider and employer</li>
      <li>the apprentice achieved all the requirements of the assessment plan, including the end-point assessment</li>
      <li>the apprentice met the minimum duration of the apprenticeship</li>
    </ul>




      <a href="/{{version}}/grade" class="button">Confirm and apply for certificate</a>

    </div>
  </div>
</main>
{% endblock %}
