{% extends "layout.html" %}

{% block page_title %}
  EPAO certification information
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include version + '/includes/phase_banner_beta.html' %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p><a href="#">Registered end-point assessment organisations</a> can use this service to:</p>
      <ul class="list list-bullet">
        <li>record government funded apprenticeship standard grades</li>
        <li>request certificates </li>
      </ul>

      <p>You can’t use this service to <a href="#">record privately funded apprenticeship grades</a>.</p>

      <h2 class="heading-medium">Before you start</h2>
      <p>You need:</p>

      <ul class="list list-bullet">
        <li>permission from the apprentice for you to apply for a certificate on their behalf</li>
        <li>the unique learner number (ULN) for the apprentice</li>
        <li>an <a href="#">Information Management Services (IDAMS)</a> account</li>
        <li>to inform the training provider that the apprentice passed their assessment. The achievement must be recorded in the Individualised Learner Record (ILR) before we issue a certificate</li>
      </ul>

      <p>
        <a class="button button-start" href="/{{version}}/sign-in" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">More information</h2>
      <p>Contact the National Apprenticeship Service for help.</p>

      <h3 class="heading-medium">National Apprenticeship Service</h3>
      <p>Telephone: 0800 015 0600</p>
      <p><a href="#">Find out about call charges</a></p>

    </div>
    <div class="column-third">



    </div>
  </div>

</main>

{% endblock %}
